
$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet ) {

	.top-block{
		background-color:blue;
		height:400px;

		.main-block{
			height:70px;
			span{
				font-size: 2em;
			}
		}

		.about{
			margin-top: 15%;
			p{
				font-size:1.25em;
			}
		}

	}

	.button-navbar{
		padding-left: 20%;

		button{
			background-color:blue;
			margin-right: 70px;
		}

	}

	.second-grid-block{
		margin-top: 50px;
		.main_circle{
			margin-left: 0;
			width: 160px;
			padding-left:0;
			border:1px solid yellow;
			// margin-left: 5%;
			img{
				height:150px;
				width:150px;
				margin-left: 0;

			}

			bio {
				padding: 0;
				i{
					border:1px solid red;
					margin-left: 0;
				}
			}
		
		}

		.popout{
			width:480px;
			font-size: 12px;
		}


	}

	
  
}