$orange:#f6af2d;
$blue:#3b5da0;
$green:#71c09c;
$gray:rgb(225,225,221);

.main-grid-block{

	height:100%;
	width:53%;
	padding:25px;
}

.grid{
	height:100px;
	width:100px;
	display:inline-block;
}

.background{
	background: url('images/profile_pic.jpg') center fixed; /*repeat center center fixed; */
	background-repeat: repeat;
	background-attachment: fixed;
	position: relative;
}

.button-navbar{
	height:50px;
	width:100%;
	background-color:$gray;
	margin-bottom:0;
	border:1px solid yellow;


	// .first-btn{
	// 	border:1px solid green;
	// 	margin-left: 50%;
	// }
	button{
		float:right;
		display:inline-block;
		margin-left:200px auto;
	}

}



.second-grid-block{
	height:400px;
	width:100%;
	padding:25px;
	// margin-top: 10px;
	/*position: relative;*/
	background-color:$gray;
}

.main_circle{
	margin-left: 36%;
	height:300px;
	width:300px;
	border-radius: 50%;
	background-color: black;
	z-index: 100;
	overflow: hidden;
	display:inline-block;
	border:1px solid purple;

}
.image_text{
	color:white;
	font-size: 0;
	position: absolute;
	margin-top:135px;
	margin-left:80px;
	z-index: 100;
}

.main_circle img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
}

.popout{
	background-color:$gray;
	width: 800px;
	height:100%;
	float:right;
	display:inline-block;
	border:1px solid red;
	display:none;
	}


body{
	

    background: linear-gradient(to left, $blue, $green);

}