.image-banner {
  background-color: #eaeaea;
  padding-top: 400px;
  height: 600px;
  background: url("images/skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .image-banner span {
    background: black;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 4em;
    margin-left: 30px;
    padding: 5px; }

.top-block {
  height: 400px;
  width: 100%;
  margin: 0;
  margin-top: 100px; }
  .top-block .main-block {
    height: 100px;
    width: 100%;
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .top-block .main-block span {
      display: block;
      margin-top: 3%;
      font-size: 4em;
      color: white; }
  .top-block .about {
    position: relative;
    margin-top: 5%;
    width: 80%;
    background-color: #eaeaea;
    overflow: hidden;
    padding: 10px;
    text-align: center; }
    .top-block .about p {
      color: #666666;
      font-size: 1.5em; }

.button-navbar {
  width: 100%;
  padding-left: 32%;
  padding-top: 50px;
  z-index: 100; }
  .button-navbar button {
    display: inline-block;
    margin-right: 100px; }

.stick {
  position: fixed;
  top: -10px;
  z-index: 1000; }

.second-grid-block {
  height: 1100px;
  width: 100%;
  padding: 25px;
  background-color: #eaeaea; }
  .second-grid-block .main_circle {
    margin-left: 32%;
    height: 90%;
    width: 350px;
    z-index: 100;
    overflow: hidden;
    display: inline-block; }
    .second-grid-block .main_circle .bio {
      width: 100%;
      height: 500px;
      margin-top: 150px;
      padding: 25px; }
      .second-grid-block .main_circle .bio i {
        color: black;
        margin-left: 38%;
        margin-top: 30px; }
    .second-grid-block .main_circle .image_text {
      color: white;
      font-size: 0;
      position: absolute;
      margin-top: 135px;
      margin-left: 80px;
      z-index: 100; }
    .second-grid-block .main_circle img {
      margin-left: 7%;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      left: 0;
      top: 0; }
  .second-grid-block .popout {
    background-color: white;
    width: 800px;
    height: 90%;
    float: right;
    display: inline-block;
    display: none;
    padding: 20px;
    line-height: 180%;
    font-family: Arial;
    font-size: 14px; }
    .second-grid-block .popout .header {
      font-size: 2em;
      font-family: "Times New Roman"; }
    .second-grid-block .popout .right {
      float: right; }
    .second-grid-block .popout .bold {
      font-weight: bold; }
    .second-grid-block .popout .indent {
      display: inline-block;
      text-indent: 25px; }
    .second-grid-block .popout .minor-indent {
      display: inline-block;
      text-indent: 5px; }
    .second-grid-block .popout a {
      color: black;
      text-decoration: underline;
      font-weight: bold; }
    .second-grid-block .popout a:active {
      color: black; }

.form {
  border-top: 2px solid #666666;
  padding-top: 15px;
  margin: 50px;
  margin-top: 0px;
  height: 500px; }
  .form input {
    margin: 20px; }
  .form textarea {
    margin: 20px; }
  .form #name {
    width: 50%; }
  .form #message {
    width: 50%;
    height: 10em; }

body {
  background-color: #eaeaea; }

@media (max-width: 768px) {
  .top-block {
    background-color: blue;
    height: 400px; }
    .top-block .main-block {
      height: 70px; }
      .top-block .main-block span {
        font-size: 2em; }
    .top-block .about {
      margin-top: 15%; }
      .top-block .about p {
        font-size: 1.25em; }

  .button-navbar {
    padding-left: 20%; }
    .button-navbar button {
      background-color: blue;
      margin-right: 70px; }

  .second-grid-block {
    margin-top: 50px; }
    .second-grid-block .main_circle {
      margin-left: 0;
      width: 160px;
      padding-left: 0;
      border: 1px solid yellow; }
      .second-grid-block .main_circle img {
        height: 150px;
        width: 150px;
        margin-left: 0; }
      .second-grid-block .main_circle bio {
        padding: 0; }
        .second-grid-block .main_circle bio i {
          border: 1px solid red;
          margin-left: 0; }
    .second-grid-block .popout {
      width: 480px;
      font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
