$orange:#f6af2d;
$blue:#3b5da0;
$white:#dddde1 ;
$green:#71c09c;
$gray:#666666;
// $dark-gray: #dddde1;




.top-block{
	height:500px;
	width:100%;
	margin:0;
	.main-block{
		height:100px;
		width:100%;
		background-color: $gray;
		position:absolute;
		margin:0;
		padding:0;
		left:0;
		right:0;
		text-align: center;
		span{
			
			display:block;
			margin-top:3%;
			font-size:4em;
			color:white;
		}
	}
	.about{
		position: relative;
		margin-top: 20%;
		// height:200px;
		width:80%;
		background-color:$gray;
		// background-color:dark-gray;
		overflow: hidden;
		padding:10px;
		// background: rgba(225, 225, 221, 0.5);
		text-align: center;
		p{
			color:white;
			font-size: 1.5em;
		}
	}
}


.button-navbar{
	
	width:100%;
	padding-left:32%;
	padding-top:5px;
	z-index:100;


	button{
		display:inline-block;
		margin-right:100px;
	}

}
.stick{
	 position: fixed;
     top: -10px;
     z-index:1000;
}





.second-grid-block{
	height:1100px;
	width:100%;
	padding:25px;
	margin-top: 150px;
	/*position: relative;*/
	background-color:$gray;


.main_circle{
	margin-left: 32%;
	height:90%;
	width:350px;
	z-index: 100;
	overflow: hidden;
	display:inline-block;

	 .bio{
		width:100%;
		height:500px;
		margin-top:150px;
		padding:25px;
		i{
			color:black;
			margin-left: 38%;
			margin-top: 30px;
		}
  }
  	.image_text{
		color:white;
		font-size: 0;
		position: absolute;
		margin-top:135px;
		margin-left:80px;
		z-index: 100;
	}	

	  img{
	  margin-left:7%;
	  height:300px;
	  width:300px;
	  border-radius: 50%;
	  left: 0;
	  top: 0;
	 
	}

}


.popout{
	background-color:white;
	width: 800px;
	height:90%;
	float:right;
	display:inline-block;
	display:none;
	padding:20px;
	line-height:180%;
	font-family:Arial;
	font-size:14px;

	.header{
		font-size:2em;
		font-family:"Times New Roman";
	}
	.right{
		float:right;
	}
	.bold{
		font-weight:bold;
	}
	.indent{
		display:inline-block;
		text-indent:25px;
	}
	.minor-indent{
		display: inline-block;
		text-indent: 5px;
	}
	a{
		color:black;
		text-decoration: underline;
		font-weight: bold;
	}
	a:active{
		color:black;
	}
 }

}





.form{
	margin-top: 0px;
	height:500px;
	input{
		margin:20px;
		
	}
	textarea{
		margin:20px;
	}
	#name{

		width:50%;
	}
	#message{
		width:50%;
		height:10em;
	}

}



body{
	

    background: linear-gradient(to bottom, $gray,$gray );

}



// $breakpoint-phone-portrait: 480px;

@import "tablet_media_query";




