@import "bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
$primary: #010101;
// $link:
// $success:
$main-font: 'Montserrat', 'Open Sans';
// $secondary-font:
$gray: #88A2AA;
$white: #F7F7F2;
// $cyan:
// $darker-gray:
// $highlight-blue:
// $darker-red:
$red: #A30B37;
$black: #070707;
$light-blue: #9DD1F1;
// $light-gray:
$blue: #5DA9E9;
// $darker-blue:
// $very-light-gray:
// $purple:
// $menu-item-color:
// $menu-item-hover-background-color:
// $menu-item-hover-color:
// $menu-item-active-color:
// $menu-item-active-background-color:

.has-black-background{
  background-color: $black;
}
.has-pink-background{
  background-color: #EF6F6C;
}
.has-dark-blue-background{
  background-color: #465775
}
.has-pastel-blue-background{
  background-color: #A7CECB;
}
.has-green-background{
  background-color: #5B6C5D;
}
.has-gray-background{
  background-color: $gray;
}
.has-light-blue-background{
  background-color: $light-blue;
}
.is-light-blue{
  color: $light-blue;
}
.is-black{
  color: $black;
}
.is-fullheight{
  height: 100vh;
}
.is-fullheight-percent{
  height: 100%;
}
.is-halfheight{
  height: 50%;
}
.column.align-bottom{
  align-self: flex-end;
}
.column.is-centered{
  text-align: center;
}
.columns.is-column-based{
  flex-direction: column;
}
.is-vertically-centerd{
    align-items: center;
    display: flex;
}
.title{ 
  font-family: $main-font;
}
.section{
  height: 100vh;
  font-size: 28px;
  color: #ffffff;
}
.double-height{
  height: 200vh;
}
.test{
  height: 1000px;
  background-color: green;
  width: 20px;
}
